@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This is my first app with Asp Net Core - C#.</p>
<p>Built on request Nuvem team to assess the knowledge absorption.</p>
<p>OBS: This is Basic APP MVC CRUD.</p>
