@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Diogo Sousa Borges <br />
    Várzea Grande - MT<br />
    <abbr title="Telefone Celular">Tel:</abbr>
    (65) 98165-6937
</address>

<address>
    <a title="Linkedin" href="https://www.linkedin.com/in/diogo-sousa-borges-56072691"><img src="~/images/linkedin.png" width="60" height="60" /></a>
    <a  title="GitHub" href="https://github.com/DiogoSBorges"><img src="~/images/github.png" width="60" height="60"/></a>
</address>
